* {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*nav*/
nav{
    width: 1675px;
    margin: 45px auto 0px auto;
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: inline-flex;
    float: right;
    margin-right: 35px;
    margin-top: 25px;
}

li{
    padding-left: 107px;
}

li img{
    margin-top: -8px;
}

li a{
    text-decoration: none;
    color:black;
    font-size: 45px;
}

li a:hover{
    color: #FDA509;
}

#logo{
    margin-left: 35px;
}

/*end nav */

.container {
    display: flex;
    margin-top: 50px;
}

.item {
    width: 600px;
    display: flex;
    flex-direction: row;
}

/*profilephoto block*/
.profilephoto {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: flex-start;
}

.profilephoto img {
    border: solid 1px white;
    border-radius: 10px;
}

.profilephoto a {
    color: #FDA509;
}

/*profileinformation block*/
.profileinformation {
    display: flex;
    flex-direction: column;
}

form {
    margin-top: 10px;
}

input[type=text], input[type=email], input[type=int] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 8px 0;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #FDA509;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #df8f05;
  }

