*{
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;

}
/*nav*/
nav{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: inline-flex;
    float: right;
    margin-right: 35px;
    margin-top: 25px;
}

li{
    padding-left: 107px;
}

li img{
    margin-top: -8px;
}

li a{
    text-decoration: none;
    color:black;
    font-size: 25px;
}

li a:hover{
    color: #FDA509;
}

#logo{
    margin-left: 35px;
}

/*end nav */

/*home*/
.entry{
    width: 500px;
    height: 83px;
    border: 1px solid purple;
    
    margin-bottom: 50px;
}
.fastview{
    width: 1500px;
    border: 1px solid blue;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top:50px;
}

.row h3{
    margin-bottom: 10px;
}
h1{
    text-align: center;
    margin-top: 50px;
}

